.sideBar
  .sideHeader
    .sideBox
      %p.sideBox__user-name
        name
      %ul.sideBox__icon
        %li.sideBox__icon__list--edit
          = link_to "#", class: "sideBox__icon__btn" do
            = icon('fas', 'edit', class: 'sideBox__icon__btn--edit')
        %li.sideBox__icon__list--cog
          = link_to "#", class: ".sideBox__icon__btn" do
            = icon('fas', 'cog', class: 'sideBox__icon__btn--cog')
  .groups
    .group
      %p.group__group-name
        hoge
      %p.group__info
        仮のメッセージだよ
    .group
      %p.group__group-name
        huga
      %p.group__info
        第二のメッセージだよ