.chatMain{
  width: calc(100vw - 300px);
  background-color: $white;
  .mainHeader{
    height: 100px;
    background-color: $white;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    @include flex-box(space-between);
    &__left-content{
      margin-top: 35px;
      &__group-name{
        @include font-setting(20px, $mat-black);
      }
      &__member-list{
        @include font-setting(12px, $light-gray);
        display: flex;
        margin-top: 15px;
      }
    }
    a{
      text-decoration: none;
      .mainHeader__edit__btn{
        @include box-sizing(40px, 72px);
        color: $light-blue;
        border: solid 1px $light-blue;
        font-size: 16px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
      }
    }
  }
  .messages{
    height: calc(100% - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 46px;
      &__label{
        display: flex;
        padding-bottom: 12px;
        &__user-name{
          @include font-setting(16px, $mat-black);
        }
        &__date{
          @include font-setting(12px, $light-gray);
          margin-left: 10px;
        }
      }
      &__content{
        &__text{
        @include font-setting(14px, $black);
        }
      }
    }
  }
  .form{
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    form{
      display: flex;
      .form__input-field{
        width: 100%;
        position: relative;
        &__text{
          @include box-sizing(50px, 100%);
          padding: 0 40px 0 10px;
        }
        .form__mask__image{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }
        .file{
          display: none;
        }
      }
      .form__send-btn{
        @include box-sizing(50px, 100px);
        padding: 0 30px;
        margin-left: 15px;
        background-color: $light-blue;
        color: $white;
        cursor: pointer;
      }
    }
  }
}