.sideBar{
  width: 300px;
  background-color: #253141;

  .sideHeader{
    height: 100px;
    background-color: #253141;
  }
  
  .groups{
    height: calc(100% - 100px);
    background-color: #2f3e51;
  }
}

