.sideBar{
  width: 300px;
  background-color: #253141;
  font-weight: bold;
  color: #ffffff;
  .sideHeader{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    .sideBox{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__user-name{
        line-height: 20px;
        font-size: 16px;
      }
      &__icon{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        line-height: 20px;
        &--btn{
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }
  .groups{
    height: calc(100% - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    .group{
      margin-bottom: 40px;
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__info{
        font-size: 11px;
      }
    }
  }
}

